exclude: ^Sources/Core/_Templates/|^Tests/CoreTests/_Fixtures/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: swift-format
        name: swift-format
        entry: swift-format --in-place --recursive
        language: system
        types: [swift]
        stages: [pre-commit]
      - id: swiftlint-lint
        name: swiftlint-lint
        entry: swiftlint lint --strict
        language: system
        types: [swift]
        stages: [pre-commit]
      - id: periphery-scan
        name: periphery-scan
        entry: periphery scan -- --enable-experimental-prebuilts
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]
