# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift
# https://github.com/actions/checkout
# https://github.com/swift-actions/setup-swift
# https://github.com/actions/cache

name: Swift Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v4
    - uses: swift-actions/setup-swift@v3
      with:
        swift-version: '6.2.3'
    - uses: actions/cache@v5
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - name: Run tests
      run: swift test --parallel --enable-experimental-prebuilts
